@import "common/styles/bourbon/_bourbon.scss";
@import "_vars";
@import "_mixins";
@import "_normalize";
@import "_base";
@import "_fonts";

body {
	font-family: $body-font;
	color: $text-color;
	padding-top: $header-height;
	background: $bg-color;
	min-height: 100%;
}

* {
	box-sizing: border-box;
}

.view {
	.page {
		opacity: 0;
		@include transition(opacity $page-transition-duration ease-in-out);

		&.is-visible {
			opacity: 1;
		}
	}
}

button,
.button {
	font-family: $button-font;
	text-decoration: none;
	color: $text-color;
	font-size: $font-size * 2;
	text-transform: uppercase;
	padding: $half-padding ($double-padding);
	line-height: $font-size * 2;
	padding-bottom: $half-padding * 0.7;
	border: solid 1px $bright-color;

	@include transition(all 0.3s);

	&:hover {
		background: $text-color;
		color: $dark-color;
	}
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: darken($dark-color, 5%);
}

::-webkit-scrollbar-thumb {
	background: lighten($dark-color, 4%);
}

@import "_spinner";
@import "header/header";
@import "home/home-view";
@import "album/album-view";