@font-face {
	font-family: 'Adam';
	src: url('/fonts/adam.cg_pro-webfont.eot');
	src: url('/fonts/adam.cg_pro-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/adam.cg_pro-webfont.woff2') format('woff2'),
		 url('/fonts/adam.cg_pro-webfont.woff') format('woff'),
		 url('/fonts/adam.cg_pro-webfont.ttf') format('truetype'),
		 url('/fonts/adam.cg_pro-webfont.svg#adam.cg_proregular') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'Adamas';
	src: url('/fonts/adamas-regular-webfont.eot');
	src: url('/fonts/adamas-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/adamas-regular-webfont.woff2') format('woff2'),
		 url('/fonts/adamas-regular-webfont.woff') format('woff'),
		 url('/fonts/adamas-regular-webfont.ttf') format('truetype'),
		 url('/fonts/adamas-regular-webfont.svg#adamasregular') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'Forum';
	src: url('/fonts/forum-regular-webfont.eot');
	src: url('/fonts/forum-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/forum-regular-webfont.woff2') format('woff2'),
		 url('/fonts/forum-regular-webfont.woff') format('woff'),
		 url('/fonts/forum-regular-webfont.ttf') format('truetype'),
		 url('/fonts/forum-regular-webfont.svg#forumregular') format('svg');
	font-weight: normal;
	font-style: normal;

}