<figure class="cover">
	<a href="/albums/{{id}}">
		<div class="img"></div>
		<div class="spinner-container"><div class="spinner"></div></div>
	</a>
</figure>

<div class="info">
	<label class="title">{{name}}</label>
	<figcaption class="description">{{description}}</figcaption>

	<a class="button view-button" href="/albums/{{id}}">View</a>
</div>