<header>
	<h1>
		<a href="/">
			<div class="name">
				<div class="hugo">HUGO</div>
				<div class="campos">CAMPOS</div>
			</div>
			<div class="photography">PHOTOGRAPHY</div>
		</a>
	</h1>

	<a class="close close-album" href="/"></a>
</header>