<header>
	<h1>
		<div class="name-wrapper">
			<div class="name">
				<div class="hugo">HUGO</div>
				<div class="campos">CAMPOS</div>
			</div>
			<div class="photography">PHOTOGRAPHY</div>
		</div>
	</h1>

	<div class="album-title"></div>

	<a class="close close-album" href="/"></a>
</header>