<figure class="cover"></figure>

<div class="info">
	<label class="title">{{name}}</label>
	<figcaption class="description">{{description}}</figcaption>

	<a class="button view-button" href="/albums/{{id}}">View</a>
</div>